{% load static %}
<html>
    <head>
        <title>J White | HOME</title>
	<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Handlee&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="container">
            <h2 class="title3">Welcome to the home of J White Photography, Blog & Portfolio.</h2>
	    <h2 class="title4">Hi There! My name is Jamie White and I'm a Computer Science student at the University of Birmingham. This website was built as part of a bridging coursework project to act as a hub for a portfolio and a blog page.</h2>
        </div>
	<div class="container2">
	    <img class="img1" src="{% static "css/3.jpg" %}">
        </div>
        <header>
	    <div class="maintitle">
            	<h1 class="title1">Hello </h1><h1 class="title2"> World.</h1>
	    </div>
	    <div class="topnav">
		<a href="{% url 'post_list' %}">Blog</a>
		<a href="{% url 'gallery' %}">Gallery</a>
	    	<a class="active" href="{% url 'home' %}">Home</a>
	    </div>
        </header>
    </body>
</html>
