.page-header {
    background-color: #003359;
    margin-top: 0;
    padding: 10px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin: 0;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    margin-right: 40px;

}

.topnav {
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    position: absolute;
    top: 5%;
    left: 46%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: 'Comfortaa', cursive;
}

.topnav a {
    float: right;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    font-family: 'Comfortaa', cursive;
}

.topnav a:hover {
    color: #c4c4c4;
}

h1, h2, h3, h4 {
    font-family: 'Comfortaa', cursive;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #f2f2f2;
    padding: 20px;
}

p {
   font-family: 'Handlee', cursive;
   font-size: 14pt;
   background-color: #f2f2f2;
   padding: 20px;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    margin-top:62px;
    margin-right: 70px;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px;
}

.post {
    margin-bottom: 50px;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}
